* {
    box-sizing: border-box;
    padding: 0;
}

body {
    padding: 50px;
}

div {
    width: 200px;
    height: 500px;
    background-color: gray;
    border-radius: 50px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

span {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50px;
    border: 2px solid lightgray;
}

span:nth-child(1) {
    background-color: red;
}